.title-hero {
	background-color: #F5A631;
	color: #121212;
}

.navigation { 
	margin-bottom:17px ;
	font-size: 18px;
}

nav {
	background-color: #A38C69;
	padding: 10px;

}

nav ul {
	list-style-type: none;
	padding: 0;
}

nav li {
	display: inline;
	margin-right: 15px;
}

nav a {
	text-decoration: none;
	color: #171717;
}

nav a:hover {
	color: #4B4741;
}

.films {
	background-color: #756752;
	color: #f5f5f5;
	padding: 15px;
	border-left: 4px solid #F5A631;
}

.highlight {
	background-color: #A38C69;
	font-weight: italic ;
}

footer {
	background-color: #332E27;
	color: white;
	padding: 15px;
	margin-top: 50px;
}